/bin/
/doc/

# gitkeep
!.gitkeep

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.settings
.project
.metadata/

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Build
out
build
bin
data

# Other
*.log
*.swp
*.bak

# Gradle
.gradle
!gradle-wrapper.jar
